<div id="vimeography-gallery-{{gallery_id}}" class="vimeography-6up" data-version="{{version}}"{{#gallery_width}} style="max-width: {{gallery_width}};"{{/gallery_width}}>
    <div class="vimeography-main">
        <div class="vimeography-slides">
            {{> videos}}
        </div>
    </div>

    <div class="vimeography-thumbnails">
        {{#videos}}
            <img src="{{thumbnail_medium}}" alt="{{name}}" />
        {{/videos}}
    </div>

    <div class="clearfix"></div>

</div> <!-- End Gallery -->

<script charset="utf-8" type="text/javascript">
(function($){
    $(document).ready(function(){

        // Listen for the ready event for any vimeo video players on the page
        var players = $('#vimeography-gallery-{{gallery_id}} iframe');
        $.each(players, function(i, player) {
            var player = new window.Vimeo.Player(player);
            player.on('play', function (data) {
                $('#vimeography-gallery-{{gallery_id}} .vimeography-main').flexslider("pause");
            });
        });

        $('#vimeography-gallery-{{gallery_id}}').fitVids();

        $('#vimeography-gallery-{{gallery_id}} .vimeography-main').flexslider({
            animation: "slide",
            selector: '.vimeography-slides > .vimeography-slide',
            controlNav: true,
            manualControls: '#vimeography-gallery-{{gallery_id}} .vimeography-thumbnails img',
            animationLoop: true,
            slideshow: true,
            itemWidth: 640,
            itemMargin: 0,
            maxItems: 1,
            minItems: 1,
            useCSS: false,
            before: function(slider)
            {
                /*$.each(players, function(i, player) {
                    $f(player).api('pause');
                });*/
            }
        });

        $('#vimeography-gallery-{{gallery_id}} .vimeography-thumbnails img:lt(2)').css('marginTop', '0');

        $('#vimeography-gallery-{{gallery_id}} .vimeography-thumbnails img').click(function(){
            $.each(players, function(i, player) {
                $f(player).api('pause');
            });
        });

    });
}(jQuery))</script>